:root {
    --back: #13293d;
    --text: rgb(255, 254, 254);
}
* {
    background-color:var(--back);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text);  
}

.section, .work{
    background-color: var(--back);
    padding: 2rem;
}

/* header and nav bar */
h1 {
    margin:2rem;
    margin-top: 2rem;
}

header {
    background-color: var(--back);
    text-align: center;
}

nav {
    height: 48px;
    background-color: #333;
    overflow: hidden;

}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;   
    list-style-type: none;
}

nav li {
    margin: 0;
    padding: 0;
    display: block;
}
nav li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

nav li a:hover {
    color: #dd5771;
}

/* moving header to the left */
.section h2, .section img, .section p{
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
.section p{
    align-content: center;
    display: inline-block;
}
/* main image */
.background-image {
    background-image: url("../images/coding_channels_resize_md.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 120rem;
}

/* work links */
#image {
    height: 20rem;
    width: 28rem;
    padding: 1rem;
}

.links {
    height:15rem;
    width: 20rem;
    padding: 1rem;
}
/* about me */
.face {
    width: 17rem;
    height: 15rem;
    padding: 2rem;
}

/* screen changes */
@media screen and (max-width: 992px) {
  header {
      flex-direction:column;
  }
  #image, .links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
    #image, .links {
        width: 100%;
    }
}